menuconfig MODULES_MC_MPC_CONTROL
	bool "mc_mpc_control"
	default n
	---help---
		Enable support for mc_mpc_control

menuconfig USER_MC_MPC_CONTROL
	bool "mc_mpc_control running as userspace module"
	default y
	depends on BOARD_PROTECTED && MODULES_MC_MPC_CONTROL
	---help---
		Put mc_mpc_control in userspace memory
