menuconfig MODULES_MC_FM_CONTROL
	bool "mc_fm_control"
	default n
	---help---
		Enable support for mc_fm_control

menuconfig USER_MC_FM_CONTROL
	bool "mc_fm_control running as userspace module"
	default y
	depends on BOARD_PROTECTED && MODULES_MC_FM_CONTROL
	---help---
		Put mc_fm_control in userspace memory
